<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div>
  <div>
  <nav class="navbar navbar-inverse" role="navigation">
         <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About us</a></li>
        <li class="active"><a href="/services">Services<span class="sr-only">(current)</span></a></li>
        <li><a href="/contact">Contact us</a></li>
      </ul>
</nav>
</div>
  <h3>SERVICES WE OFFER</h3>
  <p>Let us build your tailored vacation.</p>
  <p>Travelling with family, young kids, friends or colleagues?</p>
  <p>Planning a romantic trip to Paris or the French countryside?</p>
  <p>Want to explore the cuisine? History? Nature? Or just want to kick back and soak in the ambience?</p>>

<p>Preparing a trip seems deceptively easy with online travel planning if one has the time and energy. BUT if you are overwhelmed by the myriad travel websites, blogs and reviews, you have come to the right place.</p>
  <p>Our services include building itineraries, recommending and booking hotels, ground transportation, restaurants, guided tours and visits.</p>
  <p><br>
    There are countless ways to travel. You may be someone who is always on the go, discovering sites and activities, or you may prefer to savor a particular location. You may love museums, or you may prefer to connect with daily life by going to markets or sampling local food.  You may want to include some hiking and biking.  Whether you are a first time visitor or not, you may want to take in the highlights, or the hidden gems a city, a region or a country has to offer.</p>
  <p> At voyageactually we want to make sure we first understand your aspirations to better cater to your travel style.</p>
  <p> Your preferences are what matter the most. Knowing them, we can advise you and put together a one-of-a-kind journey.    </p>
  <p>[I should have a general section on fees here instead of having it separately -although Giovanna doesn’t mention fees anymore]    </p>
  <p>It can be something succinct such as “Our flat fees are based on the duration and complexity of the tour. Fees will be mentioned prior agreeing on a working relationship. </p>
  </div>
</body>
</html>