body {
	background-color: #fff;
}



span {
	color: red;
}
.navbar {
	margin-bottom: 0px;
	width: 100%;
	font-size: 25px;
	padding: 20px 0px;
	height: auto;
	color: #111;

}
.navbar-inverse .navbar-nav>li>a {
    color: #111;
    text-shadow: none;
}

.navbar-inverse {
	border: none;
	background-color: #fff;
	display: flex;
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	background-color: transparent;
	color: #111;

}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
	color: red;
}

.navbar-nav>li>a:hover, .nav.navbar-nav>li>a:hover, {
	color: #111;
}
.featured-p, .featurette-heading {
	text-align: center;
	margin: auto;

}
#main-header .featured-p {
	width: 85%;
}

ul.nav.navbar-nav {
	float: none;
	margin: auto;
	display: inline;
	text-align: center;
	justify-content: space-between;
	font-family: 'Oswald', sans-serif;
}

#logo {
	background-image: url('/images/logo-supreme.png');
	height: 200px;
	margin: auto;
	margin-bottom: 0px;
	background-size: contain;
	background-repeat: no-repeat;

}

#main-header {
	background-image: url('/images/STRONG2.png');
	background-size: cover;

	min-height: 300px;
	height: 900px;

	text-align: center;
    background-repeat: no-repeat;
    background-position: top;
    z-index: -100;
    color: red;
    text-shadow: black 0.2em 0.2em 0.2em;
}

#main-header h1 {
	font-size: 50px;
	margin-top: 50px;
	line-height: 70px;
}


#short-about {
	text-align: center;
	margin-top: 30px;
	font-size: 20px;
}

#services {
	height: auto;
	min-height: 800px;
	display: flex;
	justify-content: space-around;
	background-image: url('/images/crunchwoman.png');
	background-size: cover;
	background-repeat: none;
}

#services>* {
	-webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */ 
    flex: 1;
    padding:0px 10px 20px 20px;

/*    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
	clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);*/
}

.service-p {
	display: none;
	margin-top: 30px;
	color: #fff;
}

.service-heading {
	color: white;
	margin-top: 200px;
	font-size: 35px;
	text-shadow: black 0.3em 0.3em 0.3em;
	height: 120px;
	padding-top: 20px;
	background-color: rgba(0,0,0,0.25);
	border: 5px solid #fff;
}


#services>div:hover {
	background-color: rgba(17, 17, 17, 0.8);
}

#services>div:hover>.service-p {
	display: block;
}

#services>div:hover>.featurette-heading{
	display: none;
}

.container-fluid {
	padding: 0px;
}

.navbar-nav>li>a:hover {
	color: red;
}

button {
	color: white;
	margin: 20px auto 30px auto;
	background-color:rgba(0, 0, 0, 0.8);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	border-color: #000;
	padding: 12px 28px;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	color: red;
	text-align: center;
}

.main-button {
	margin-top: 300px;
}
button:hover {
    background-color: rgba(0, 0, 0, 0.99);
}